<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
       "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<title> ThisGoesInTheTabbar </title>
	<meta charset="utf-8"> 
	<link rel="stylesheet" href="../clarkaerospace.css"> 
	<!-- If this is going into the main directory, remove the ../
	If this goes into a directory futher down, add more ../'s -->
</head>

<p class="navbar">
	<a href="../index.html" style="font: 30px Verdana, header;">Clark Aerospace</a>
	<a href="../rockets.html">Rockets</a>
	<a href="../drones.html">Drones</a>
	<a href="../robotics.html">Robotics</a>
</p>

<div class="body">
	<div class="sideitem">
		<p> you can put pictures and extra information here</p>
	</div>
	<h2> Example List of items I thought were intresting </h2>
	<ul>
		<li><a href="../rockets.html">Rockets</a></li>
		<li><a href="../rockets.html">Rockets</a></li>
		<li><a href="../rockets.html">Rockets</a></li>
		<li><a href="../rockets.html">Rockets</a></li>
	</ul>
	<h2> For some things you might have to make a table to fit in the many items neatly </h2>
	<table><tr>
		<td>
			<ul>
				<li><a href="../drones.html">Drones</a></li>
				<li><a href="../drones.html">Drones</a></li>
				<li><a href="../drones.html">Drones</a></li>
				<li><a href="../drones.html">Drones</a></li>
				<li><a href="../drones.html">Drones</a></li>
				<li><a href="../drones.html">Drones</a></li>
				<li><a href="../drones.html">Drones</a></li>
				<li><a href="../drones.html">Drones</a></li>
			</ul>
		</td>
		<td>
			<ul>
				<li><a href="../drones.html">Drones</a></li>
				<li><a href="../drones.html">Drones</a></li>
				<li><a href="../drones.html">Drones</a></li>
				<li><a href="../drones.html">Drones</a></li>
				<li><a href="../drones.html">Drones</a></li>
				<li><a href="../drones.html">Drones</a></li>
				<li><a href="../drones.html">Drones</a></li>
				<li><a href="../drones.html">Drones</a></li>
			</ul>
		</td>
	</tr></table>
	<div class="endcard">
		<p>last edited july 11th 2019 by Steven Arbuckle</p>
	</div>
</div>


</html>