<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
       "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<title> ClarkAerospaceArchives </title>
	<meta charset="utf-8"> 
	<link rel="stylesheet" href="../clarkaerospace.css"> 
	<!-- If this is going into the main directory, remove the ../
	If this goes into a directory futher down, add more ../'s -->
</head>

<p class="navbar">
	<a href="../index.html" style="font: 30px Verdana, header;">Clark Aerospace</a>
	<a href="../rockets.html">Rockets</a>
	<a href="../drones.html">Drones</a>
	<a href="../robotics.html">Robotics</a>
</p>

<div class="body">
	<div class="sideitem">
		<img src="iso_example1.png" alt="the description of drawing one square" width="243" height="135" />
		<p> you can put pictures and extra information here</p>
	</div>
	<h2> 10k MISSION </h2>
	<p>The Aerospace program at Clark is excited and proud to compete. Participation in this Spaceport America Cup provides opportunities to Clark community college students that very few other community colleges can provide. The program has generated considerable support from not only the student government, but also from highly influential individuals and companies within Washington state. For years Clark Aerospace has been recruiting first and second year college students to explore the field of rocketry. Participating in the Spaceport America Cup helps students discover a passion and lay down a roadway to success. </p>
	<p>Every year Clark Aerospace takes what was learned from previous designs and organizational decisions and improve upon them. In the past there had been too few students working on the rocket and the payload, resulting in sub-optimal delivery. This year the Electrical and Computer Science club at Clark College are working together with the Aerospace program to work on the payload, enabling the team to provide a superior payload relative to previous years. This year’s payload will be of a functional 3U form-factor that: is manufactured with industry standard tolerances, has Artificial Intelligence via a neural network the will be able to recognize and classify space debris, use reaction wheels and a cold gas thruster to adjust attitude for optimal positioning of solar arrays, and more. </p>
	<p> This year’s rocket team also has an increased number of team members. This allows for better time management and for students to maintain satisfactory academic performance, while creating a competitive rocket system. The rocket that will fly in the 2019 Spaceport America Cup will be less massive and lower in cost, while potentially achieving a smaller delta from our target apogee compared to last year. The air brake system is being rethought and improved. Additional hands on the project will allow Clark Aerospace to deliver a more complete rocket system to display to the judges, and to the world. </p>
	<p>We ranked 19th in launch performance in 2018 Spaceport America cup and are confident we will improve in 2019. <br /> Thank you for your time.</p>
	<h2 class="chaptertitle"> Airbrakes </h2>
	<p> For the rocket this year we had to build airbrakes that would bring the rocket to 10,000 feet with high accuracy. Using information from the 2018 rocket we were able to make smart design choices. </p>
	<p> In these articles you can also feature <a href="physicsdata1.pdf">PDFs</a> </p>
	
	<div class="endcard">
		<p>last edited july 10th 2019 by Steven Arbuckle</p>
	</div>
</div>


</html>